@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: ghostwhite;
}

.header {
    min-height: 70vh;
    width: 100%;
    background-image: url(background1%20-%20Copy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(248, 248, 255, 0.7);
    padding: 20px;
    width: 100%;
}

.logo {
    width: 250px;
}

.links {
    float: right;
    position: relative;
    padding: 0px 20px;
    list-style: none;
    margin-left: auto;
    text-decoration: none;
}

.link {
    padding: 0px 20px;
    background-color: #1c9464;
    border-radius: 20px;
    height: 25px;
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.link2 {
    display: none;
}

.active {
    padding: 0px 20px;
    background-color: #f57e40;
    border-radius: 20px;
    height: 25px;
    width: auto;
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.active2 {
    display: none;
}

.links li a {
    text-decoration: none;
}

.link:hover {
    background-color: #f57e40;
}

.gray-box {
  position: absolute;
  background-color: white;
  height: 60vh;  
  width: 60%;
  left: 20%;
  top: 95vh;
    vertical-align: baseline;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Outer shadow */
    outline: .5px solid gray; /* Outline */
}

.graybox-header h2{
    padding-top: 20px;
    font-family: 'Poppins';
    text-align: center;
    vertical-align: baseline;
}

.graybox-text p{
    font-family: inherit;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 50px;
    font-family: "Scheherazade New", serif;
}


.text h1 {
    font-family: 'Poppins';
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
    padding-top: 150px;
    font-family: "Scheherazade New", serif;
}


.checkbtn {
    display: none;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 45px;
}

#check {
    opacity: 0;
}

.star{
    height: 150px;
    width: 80%;
    background-color: aqua;
}

.ftr {
    width: 100%;
    height: 100px;
    background-color: darkgray;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 60px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f57e40;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media only screen and (max-width:1114px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        padding: 20px;
        width: 100%;
        transition: 0.5s;
    }
    .mobile {
        display: none;
        position: relative;
        width: 100%;
        height: 475px;
        background-color: #140333;
        z-index: 999;
        text-align: center;
        vertical-align: middle;
        padding-top: 75px;
    }
    .active2 {
        display: flex;
    }
    .link2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        width: 95%;
        height: 75px;
        margin: auto;
        border: solid 1px;
        border-color: orange;
        background-color: transparent;
        vertical-align: middle;
    }
    .link2 a {
        text-decoration: none;
        vertical-align: middle;
        margin: auto;
        color: white;
    }
    .links {
        display: none;
        float: right;
    }
    .link2 a:hover {
        color: #f57e40;
    }
    .logo {
        width: 150px;
    }
    .text {
        line-height: 12px;
        width: 70%;
    }
    .text p {
        font-size: 14px;
        height: 180px;
    }
    .button a {
        font-size: 16px;
        padding-top: 10%;
    }
    #check {
        display: flex;
        width: 100%;
        opacity: 0;
    }
    .checkbtn {
        width: 00%;
        display: flex;
        font-size: 25px;
        color: white;
        float: right;
        line-height: 45px;
        padding-right: 20px;
    }
    .text {
        width: 50%;
        position: absolute;
        top: 32%;
        left: 25%;
        text-align: center;
        line-height: 30px;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:750px) {
    .text {
        line-height: 15px;
    }
    .text p {
        font-size: 12px;
    }
    .row {
        flex-direction: column;
    }
    .clients-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
    .footer-col {
        width: 100%;
    }
}